.w {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1603d;
}
.w-wrap {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}
.w-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em;
  display: grid;
  height: 42.5vh;
  justify-items: center;
}
.w-card {
  border: 1vh solid #4f3824;
  height: max-content;
  width: 43vh;
  transition: all 1s ease-in-out;
  background-color: #221d23;
}
.w-card:hover {
  transform: scale(1.125);
}
.w-content {
  height: 35vh;
}

.w-title {
  padding: 2vh;
  margin: 2vh;
  transition: all 1s ease-in-out;
}
.w-title:hover {
  transform: scale(1.5);
}

.w-subtitle {
  padding: 2vh;
  font-size: 1em;
  border: 1px solid white;
  color: white;
  transition: all 0.5s ease-in-out;
}
.w-subtitle:hover {
  animation: rainbow 4s infinite;
  -webkit-animation: rainbow 4s infinite;
}

.w-desc {
  padding: 1vh;
  color: white;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}
.w-desc:hover {
  opacity: 1;
}
@keyframes rainbow {
  0% {
    color: orange;
  }
  10% {
    color: purple;
  }
  20% {
    color: red;
  }
  30% {
    color: cadetblue;
  }
  40% {
    color: yellow;
  }
  50% {
    color: coral;
  }
  60% {
    color: green;
  }
  70% {
    color: cyan;
  }
  80% {
    color: deeppink;
  }
  90% {
    color: dodgerblue;
  }
  100% {
    color: orange;
  }
}
.w-sgrid{
  display: flex;
  justify-content: center;
}
.w-skills{
  
  height: 7.5vh;
  
}